* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #FFF;
  position: relative;
}

a, .link {
  outline: none;
  cursor: pointer;
  color: #F1B70F;
}

a:hover, a:visited, .link:hover {
  color: #F2C40F;
  text-decoration: none;
}

.wrapper {
  height: 100%;
  padding-top: 45px;
}

/* ----------------------------------- */

.rectangle-bound {
  width: 100%;
  height: 60px;
  background-color: #F2C40F;
  position: relative;
}

.rectangle-upper-bound {
  border-bottom: 1px solid #979797;
  left: 0;
  top: 0;
}

.rectangle-lower-bound {
  border-top: 1px solid #979797;
  left: 0;
  bottom: 0;
}

/* ----------------------------------- */

.siema {
  box-shadow: 0 5px 5px 0 rgba(76,108,231,0.12);
}

/* ----------------------------------- */

.logo {
  width: 220px;
  margin: 0 auto 55px;
  padding: 0 12px;
}

@media (min-width: 768px) {
  .logo {
    width: 300px;
    min-height: 56px;
    padding: 0;
  }
}


/* ----------------------------------- */

.description {
  padding: 50px 0 35px;
  font-size: 18px;
  font-family: 'HelveticaNeue', Helvetica, sans-serif;
  color: #868587;
  text-align: center;
}

@media (min-width: 768px) {
  .description {
    font-size: 22px;
  }
}

/* ----------------------------------- */

.install-container {
  padding-bottom: 55px;
  text-align: center;
}

.button {
  padding: 10px 28px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
}

.button-primary {
  background-color: #F2C40F;
  color: #FFF;
}

.button-primary:hover, .button-primary:visited {
  background-color: #F1B70F;
  color: #FFF;
  text-decoration: none;
}

.install-button {
  margin-bottom: 8px;
}

.installed-button {
  background-color: transparent;
  border: 1px solid #979FA3;
  color: #979FA3;
  cursor: default;
}

.installed-button:hover, .installed-button:visited {
  background-color: transparent;
  color: #979FA3;
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }

  .install-button {
    padding: 10px 72px;
  }
}

/* ----------------------------------- */

.extra-info {
  font-size: smaller;
}
