@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Source Sans Pro SemiBold";
    src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype');
         url('webfont.ttf') format('truetype')
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro Light";
    src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #FFF;
  position: relative;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #313131;
}

a, .link {
  outline: none;
  cursor: pointer;
  color: #F1B70F;
}

a:hover, a:visited, .link:hover {
  color: #F2C40F;
  text-decoration: none;
}

.wrapper {
  height: 100%;
}

/* ----------------------------------- */

.logo {
  width: 190px;
  margin: 35px auto;
  padding: 0 12px;
}

@media (min-width: 768px) {
  .logo {
    width: 220px;
    margin: 45px auto;
    padding: 0;
  }
}


/* ----------------------------------- */

.slogan {
  margin: 40px 0 50px;
  font-size: 22px;
}

.description {
  margin-bottom: 70px;
  font-size: 18px;
}

.slogan, .description {
  color: #868587;
  text-align: center;
}

@media (min-width: 768px) {
  .slogan {
    margin: 50px 0 70px;
    font-size: 28px;
  }

  .description {
    margin-bottom: 90px;
    font-size: 25px;
  }
}

/* ----------------------------------- */

.view-on-github {
  margin-top: 2px;
  font-size: 14px;
  color: #868587;
  font-style: italic;
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
  display: block;
}
.view-on-github:visited {
  color: #868587;
}

/* ----------------------------------- */

.section-title {
  font-size: 65px;
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ----------------------------------- */

.graph-section {
  margin-top: 85px;
  margin-bottom: 85px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgba(255, 238, 173, 0.4);
}

.step-title {
  margin-bottom: 80px;
  text-align: center;
}

.step {
  margin-bottom: 121px;
}

.step-explanation {
  margin: 0;
  line-height: 30px;
  font-size: 20px;
  color: #313131;
}

@media (max-width: 768px) {
  .step img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .step-explanation {
    padding: 0 10px;
  }
}

/* ----------------------------------- */

.get-it-section {
  margin-bottom: 85px;
}

.get-it-title {
  margin-bottom: 27px;
}

.get-it-section-subtitle {
  font-size: 25px;
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
}

.get-it-section .install-button {
  margin-top: 20px;
}

/* ----------------------------------- */

.install-container {
  padding-bottom: 55px;
  text-align: center;
}

.button {
  border-radius: 5px;
  border: none;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro SemiBold", Helvetica, sans-serif;
}

.install-button {
  padding: 14px 60px;
  font-size: 20px;
  margin-bottom: 8px;
  background-color: #F2C40F;
}

.install-button:hover {
  background-color: #F1B70F;
  color: #FFF;
  text-decoration: none;
}

.install-button:visited {
  background-color: #F2C40F;
  color: #FFF;
}

.installed-button {
  background-color: transparent;
  border: 1px solid #979FA3;
  color: #979FA3;
  cursor: default;
}

.installed-button:hover, .installed-button:visited {
  background-color: transparent;
  color: #979FA3;
}

@media (min-width: 768px) {
  .install-button {
    padding: 12px 65px;
    font-size: 22px;
  }
}
