/* ----------------------------------------------
  Common */

body {
  font-family: Helvetica, sans-serif, Tahoma, sans-serif;
  font-size: 100%;
  margin: 0;
  background: #FFF;
  color: #000;
  box-sizing: border-box;
}

a, .link {
  font-size: 0.8em;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #276A94;
}

a:hover, .link:hover {
  color: #31729a;
}

pre {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  white-space: normal;
}

input {
  height: 3em;
  padding: 0 8px;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  box-shadow: none;
  padding: 10px 8px;
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  font-size: 0.7em;
  color: rgba(34, 34, 40, 0.7);
  background-color: rgba(216, 216, 216, 0.2);
  border: 1px solid rgba(216, 216, 216, 0.3);
}

input:focus, textarea:focus {
  outline: -webkit-focus-ring-color auto 2px;
  outline-color: #276A94;
}

section {
  margin: 25px 0 25px;
  position: relative;
}

img {
  vertical-align: middle;
}

hr {
  width: 50%;
}

.m-t {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.small {
  font-size: smaller;
}

.hidden {
  display: none;
}

/* ----------------------------------------------
  Main */

.body {
  width: 25em;
  max-height: 40em;
  padding: 0 1em;
}

.app {
  position: relative;
}

.app-logo {
  top: -4px;
  right: 1em;
  position: absolute;
}

.btn {
  width: 100%;
  padding: 6px 20px;

  line-height: 20px;
  border-radius: 20px;
  border: none;
  outline: none;

  font-weight: 500;
  text-transform: uppercase;

  background-color: #276A94;
  color: #FFF;

  cursor: pointer;
  display: block;
}

.btn:hover {
  background: #31729a;
}

.btn[disabled] {
  cursor: default;
  background-color: #CCC;
}

.title {
  font-size: 1.1em;
}

.action-icon {
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
}

.error {
  margin-bottom: 8px;
  font-size: 0.8em;
  color: #D00909;
}

.delete {
  float: right;
  color: #D00909;
  vertical-align: middle;
  display: inline-block;
}

.go-back {
  margin-bottom: 8px;
  display: inline-block;
}


/* ----------------------------------------------
  Menu */

.menu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.menu .menu-logo {
  text-align: center;
  margin: 25px 0 10px;
}


/* ----------------------------------------------
  Share - Password */

.share input[name="pubkey"] {
  margin: 8px 0;
}

.share .save-password {
  width: 12%;
  background: none;
  border: none;
}

.share .pubkey-container {
  width: 100%;
  margin-right: 8px;
  position: relative;
  display: inline-block;
}


/* ----------------------------------------------
  Share - Result */

.share .share-session-btn-container {
  margin-top: 10px;
}

.share .shared-session {
  margin-top: 30px;
}

.share .shared-session .delete {
  margin-right: 4px;
}

.share .shared-session .share-result {
  max-height: 15em;
  overflow: auto;
  color: rgba(34, 34, 40, 0.7);
  font-family: monospace;
}

.share .shared-session .encrypted-data {
  margin: 15px 0 5px;
}

.share .shared-session .share-text-link {
  padding-right: 5px;
}


/* ----------------------------------------------
  Restore */

.restore {
}

.restore [name="pubkey"] {
  width: 85%;
  margin-right: 5px;
}

.restore [name="pubkey"],
.restore form textarea {
  margin-top: 8px;
}

.restore .restore-session-btn {
  margin: 15px auto 0;
}



/* ----------------------------------------------
  History */

.history .explanation {
  font-size: 12px;
  margin: 8px 0 15px;
}

.sessions .delete {
  margin-right: 18px;
}

.sessions h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.sessions ul {
  font-size: 15px;
}

.sessions .session-url {
  display: inline-block;
  width: 94%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
