/* ----------------------------------------------
  Common */

body {
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 100%;
  margin: 0;
  background: #FFF;
  color: #000;
  box-sizing: border-box;
}

a, .link {
  font-size: 0.8em;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #F1B70F;
}

a:hover, .link:hover {
  color: #F2C40F;
}

pre {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  white-space: normal;
}

input {
  padding: 0 5px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  box-shadow: none;
  padding: 8px;
  box-sizing: border-box;
}

input[type="text"], input[type="number"] {
  height: 3em;
}

input[type="text"], input[type="number"], textarea {
  width: 100%;
}

input, textarea {
  font-size: 0.7em;
  border: none;
  border-bottom: 1px solid #8e8e8e;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 -1px 2px 0 rgba(241, 183, 15, 0.7);
}
input[type="submit"]:focus {
  box-shadow: 0 2px 6px 0 #F1B70F;
  outline: none;
}

section {
  margin: 25px 0 15px;
  position: relative;
}

img {
  vertical-align: middle;
}

hr {
  width: 50%;
}

.m-t {
  margin-top: 20px;
}

.m-t-sm {
  margin-top: 15px;
}

.m-b-xs {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.small {
  font-size: smaller;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}


/* ----------------------------------------------
  Main */

.body {
  width: 25em;
  max-height: 40em;
}

.app {
  position: relative;
  padding: 0 1em;
}

.btn {
  padding: 6px 20px;

  line-height: 20px;
  border-radius: 20px;
  outline: none;

  font-weight: 500;
  text-transform: uppercase;

  border: 1px solid #F1B70F;
  background-color: transparent;
  color: #F1B70F;

  cursor: pointer;
  display: block;
}

.btn:hover {
  border-color: #F2C40F;
  background-color: #F2C40F;
  color: #FFF;
}

.btn[disabled] {
  cursor: default;
  color: #CCC;
  border: 1px solid #CCC;
}
.btn[disabled]:hover {
  background-color: #FFF;
  color: #CCC;
  border-color: #CCC;
}

.title {
  font-size: 1.1em;
}

.explanation {
  font-size: 12px;
  margin-top: 8px;
  word-break: break-all;
}

.action-icon {
  display: inline-block;
  cursor: pointer;
}

.error {
  margin-bottom: 15px;
  font-size: 0.8em;
  line-height: 16px;
  color: #D00909;
}

.delete {
  font-size: 0.9em;
  float: right;
  font-weight: 500;
  color: #D00909;
  vertical-align: middle;
  display: inline-block;
}
.delete:hover {
  color: #D00909;
}

.go-back {
  display: inline-block;
}


/* ----------------------------------------------
  Menu */

.menu {
  width: 80%;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.menu-app-logo {
  margin-top: 20px;
  text-align: center;
}

.menu .btn {
  width: 100%;
}


/* ----------------------------------------------
  Share - Password */

.share .save-password {
  width: 12%;
  background: none;
  border: none;
}

.share .input-container {
  width: 100%;
  margin: 0.3em 8px 1.5em 0;
  position: relative;
  display: inline-block;
}

.share .timeout-container .expires-on {
  margin-top: 8px;
  font-size: 0.7em;
}

.share .flex-container {
  padding-bottom: 5px;
}


/* ----------------------------------------------
  Share - Result */

.share .shared-session {
  margin-top: 15px;
  margin-bottom: 15px;
}

.share .shared-session .delete {
  margin-right: 4px;
}

.share .shared-session .share-result {
  max-height: 12.8em;
  overflow: auto;
  color: rgba(34, 34, 40, 0.7);
  font-family: monospace;
}

.share .shared-session .encrypted-data {
  margin: 15px 0 5px;
}

.share .shared-session .share-text-link {
  padding-right: 5px;
  margin-bottom: 5px;
  word-break: break-all;
}


/* ----------------------------------------------
  Restore */

.restore {
}

.restore .your-code {
  margin-top: 25px;
}

.restore .your-code .action-icon {
  margin-right: 8px;
}

.restore .your-code [name="pubkey"] {
  width: 85%;
  margin-right: 5px;
}

.restore [name="pubkey"],
.restore form textarea {
  margin-top: 8px;
}

.restore-session-actions {
  margin-top: 15px;
  padding-bottom: 5px;
}


/* ----------------------------------------------
  History */

.history {
  margin-bottom: 15px;
}

.sessions {
  max-height: 280px;
  margin-top: 20px;
  margin-bottom: 15px;
  overflow: auto;
}

.sessions .delete {
  margin-right: 18px;
}

.sessions h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.sessions ul {
  font-size: 15px;
}

.sessions .session-url {
  display: inline-block;
  width: 94%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
