{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
  },
  "globals": {
    "chrome": true
  },
  "rules": {
    "strict": 2,
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-console": 0,
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "none",
      "ignoreRestSiblings": false
    }]
  }
}
