body {
  font-family: Helvetica, sans-serif, Tahoma, sans-serif;
  font-size: 100%;
  margin: 0;
  background: #FFF;
  color: #000;
  box-sizing: border-box;
}

a {
  color: #276A94;
  outline: none;
  text-decoration: none;
  font-size: 0.8em;
}

a:hover {
  color: #31729a;
}

pre {
  word-wrap: break-word;
  white-space: normal;
}

input {
  height: 3em;
  padding: 0 8px;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  box-shadow: none;
  padding: 10px 8px;
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  font-size: 0.7em;
  color: rgba(34, 34, 40, 0.7);
  background-color: rgba(216, 216, 216, 0.2);
  border: 1px solid rgba(216, 216, 216, 0.3);
}

input:focus, textarea:focus {
  outline: -webkit-focus-ring-color auto 2px;
  outline-color: #276A94;
}

section {
  margin: 25px 0;
}

hr {
  width: 50%;
}

/* Main */

.app {
  width: 15em;
  max-height: 40em;
  padding: 0 1em;
}

.btn {
  width: 100%;
  padding: 6px 20px;

  line-height: 20px;
  border-radius: 20px;
  border: none;
  outline: none;

  font-weight: 500;
  text-transform: uppercase;
  
  background-color: #276A94;
  color: #FFF;

  cursor: pointer;
  display: block;
}

.btn:hover {
  background: #31729a;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.title {
  font-size: 1.1em;
}


/* Share */

.current-password {
}

.current-password input[name="password"] {
  margin: 8px 0;
}

.current-password a {
  width: 32%;
  display: inline-block;
}


/* Share */

.share .btn {
  margin-top: 8px;
}

.share .shared-session {
}

.share .shared-session  pre {
  max-height: 15em;
  padding: 0 8px;
  overflow: auto;
  color: rgba(34, 34, 40, 0.7);
}

.share .shared-session a {
  width: 49%;
  display: inline-block;
}

/* Restore */

.restore {
}

.restore form {
}

.restore form textarea {
  margin-top: 8px;
}

.restore input[name="password"] {
  margin: 8px 0 12px;
} 

.restore .btn {
  margin: 0 auto;
}
