body {
  font-family: Helvetica, sans-serif, Tahoma, sans-serif;
  font-size: 100%;
  margin: 0;
  background: #FFF;
  color: #000;
  box-sizing: border-box;
}

a {
  color: #4A90E2;
  outline: none;
  text-decoration: none;
  font-size: 13px;
}

a:hover {
  color: #3483DE;
}

pre {
  word-wrap: break-word;
  white-space: normal;
}

input {
  height: 2em;
  padding: 0 4px;
  border: 1px solid rgba(216, 216, 216, 0.1);
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  border: none;
  box-shadow: none;
  padding: 10px 8px;
  box-sizing: border-box;
}

input, textarea {
  color: rgba(34, 34, 40, 0.7);
  background-color: rgba(216, 216, 216, 0.2);
}

section {
  margin: 25px 0;
}

/* Main */

.app {
  width: 15em;
  max-height: 40em;
  padding: 0 1em;
}

.btn {
  padding: 0 20px;
  line-height: 20px;
  border-radius: 20px;
  border: none;
  outline: none;

  font-weight: 500;
  text-transform: uppercase;
  
  background-color: #4A90E2;
  color: #FFF;

  cursor: pointer;
  display: block;
}

.btn:hover {
  background: #3483DE;
}

.hidden {
  display: none;
}


/* Share */

.current-password {
  text-align: center;
}

.current-password input[name="password"] {
  width: 100%;
  margin: 8px 0;
}

.current-password a {
  width: 32%;
  display: inline-block;
}


/* Share */

.share .btn {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto;
}

.share .shared-session {
  text-align: center;
}

.share .shared-session  pre {
  max-height: 15em;
  padding: 0 8px;
  border-right: 1px solid #666;
  border-left: 1px solid #666;
  overflow: auto;
}

.share .shared-session a {
  width: 49%;
  display: inline-block;
}

/* Restore */

.restore {
  text-align: center;
}

.restore form {
  width: 100%;
}

.restore form textarea {
  width: 100%;
  margin: 8px 0;
}

.restore input[name="password"] {
  width: 50%;
} 

.restore .btn {
  width: 47%;
  margin-left: 5px;
  padding: 0 5px;
  display: inline-block;
}
